<div class="container mt-5">
  <h1>Internal Server Error</h1>
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <h6>Refreshing will make this disappear</h6>
  <p class="font-weight-bold">If you're seeing this, Angular is not responsible</p>
  <p>What to do next?</p>
  <ul>
    <li>Open Chrome</li>
    <li>Inspect the network tab</li>
    <li>Check the failing request</li>
    <li>Examine the URL</li>
    <li>Try to reproduce the error in Postman</li>
  </ul>
  <div class="text-danger">{{error.details}}</div>
</div>
